<div class="container">
    <h1>Rédiger mon article</h1>
    <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
        <div class="form-group">
            <label for="title">Titre de l'article</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="date">Date de création</label>
            <input type="date" id="date" formControlName="date">
        </div>
        <div class="form-group">
            <label for="content">Contenu de l'article</label>
            <textarea name="content" id="" cols="30" rows="10" formControlName="content"></textarea>
        </div>
        <div class="form-group">
            <label for="thumbnail">Lien de l'image de l'article</label>
            <input type="text" id="thumbnail" formControlName="thumbnail">
        </div>

        <button type="submit">Créer l'article</button>
    </form>
</div>