<h1><ng-content></ng-content></h1>

<h2>Liste des factures non payées</h2>
<table>
    <thead>
        <tr>
            <th>N°</th>
            <th>Date</th>
            <th>Name</th>
            <th>Payable jusqu'à</th>
            <th>Prix</th>
            <th>Client</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bill of billsUnPayed$ | async">
            <td>{{bill.id}}</td>
            <td>{{bill.date}}</td>
            <td class="left">{{bill.name}}</td>
            <td>{{bill.payedUntil}}</td>
            <td>{{bill.getClient()}}</td>
            <td>{{bill.cumputePrice() | currency:'CHF':'symbol':'0.2-2':'de-CH'}}</td>
            <td><button routerLink="account/{{bill.id}}">Afficher le détail</button></td>
        </tr>
    </tbody>
</table>

<hr>

<h2>List des factures payées</h2>
<table>
    <thead>
        <tr>
            <th>N°</th>
            <th>Date</th>
            <th>Name</th>
            <th>Payable jusqu'à</th>
            <th>Prix</th>
            <th>Client</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bill of billsPayed$ | async">
            <td>{{bill.id}}</td>
            <td>{{bill.date}}</td>
            <td class="left">{{bill.name}}</td>
            <td>{{bill.payedUntil}}</td>
            <td>{{bill.getClient()}}</td>
            <td>{{bill.cumputePrice() | currency:'CHF':'symbol':'0.2-2':'de-CH'}}</td>
            <td><button>Afficher le détail</button></td>
        </tr>
    </tbody>
</table>