table {
    width: 100%;
    border: 1px solid black;

    .thead {
        border-bottom: 3px solid gray;
    }

    td {
        text-align: left;
        padding: 5px;
    }

    .tot {
        text-align: right;
        font-weight: bold;
    }
}