<ng-content select="[top]"></ng-content>

<h1>Liste basique de chez basique</h1>
<ng-container *ngIf="loading; else listNews"> loading </ng-container>

<ng-template #listNews>
    <ul *ngIf="news">
        <li *ngFor="let new of news">
            <a routerLink="/detail/{{ new.id }}">{{ new.headline }}</a>
        </li>
    </ul>

    <hr />
    <ul *ngIf="news">
        <li *ngFor="let fakeNew of news">
            <button (click)="directOpen(fakeNew.id)">
                {{ fakeNew.headline }}
            </button>
        </li>
    </ul>
</ng-template>
<button (click)="reloadNews()">Recharcher les news</button>
<button (click)="reloadNewsForceRefresh()">
    Recharcher les news forceRefresh
</button>
<br />
<hr />
<br />
<h1>Liste async basique</h1>
<ul *ngIf="news">
    <li *ngFor="let new of newsObservable$ | async">
        <button (click)="openNews(new.id)">afficher</button>
        <a routerLink="/detail/{{ new.id }}">{{ new.headline }}</a>
    </li>
</ul>
<br />
<hr />
<br />

<h1>Liste async avec ID</h1>
<ul *ngIf="news">
    <li *ngFor="let new of formatted$ | async">
        {{ new.headline }}
    </li>
</ul>

<ng-content select="[bottom]"></ng-content>
