.container {
    width: 100%;
    max-width: 650px;
    margin: auto;
    
    .articles {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 30px;
    }

    h1 {
        text-align: centers;
    }
}